*{
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    background: #FFF;
    font-family: "Smythe", system-ui;
}

.container {
    max-width: 600px;
    margin: 0px auto 250px;
}

#header-text {
    max-width: 330px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
}

h1 {
    margin: 0px 0px 18px 20px;
    font-size: 35px;
    text-shadow: 1px 1px 10px rgba(255,255,255,0.61);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

h2 {
    margin: 0px 0px 0px 20px;
    font-size: 20px;
    text-shadow: 1px 1px 10px rgba(255,255,255,0.61);
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

h3 {
    margin: 0px;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}

p {
    margin: 8px 0px;
    color: #8B8B8B;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

h4 {
    margin: 0px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#header {
    background: url("header.jfif") lightgray 70% 70% / cover no-repeat;
    max-width: 600px;
    height: 157px;
    display: flex;
    align-items: center;
}

#container-inner{
    max-width: 600px;
    padding: 0px 10px;
}

.menu-item {
    max-width: 330px;
    height: 125px;
    margin: 35px auto;
    display: flex;
    align-items: center;
}

.add-btn-box {
    margin-left: auto; 
}

.add-btn {
    background: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1.5px solid #DEDEDE;
    color: #3C3C3C;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-weight: 200;
}

.item {
    margin-left: 21px;
}

.item-graphic {
    width: 65px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 70px;
    opacity: 0.72;
}

hr {
    max-width: 330px;
    height: 1px;
    background: #D2D2D2;
    border: 0px;
}

#order-section {
    max-width: 330px;
    margin: 0px auto;
}

#your-order {
    display: flex;
    justify-content: center;
    margin: 45px 0px;
}

.order-item {
    display: flex;
    margin: 15px 0;
}

.rmv-btn-box {
    margin-left: 10px;
}

.rmv-btn {
    color: #BBB;
    font-family: Verdana;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background: transparent;
    border: none;
}

.order-item-price {
    margin-left: auto;
}

#order-hr {
    max-width: 330px;
    height: 2px;
    background: #393333;
    margin-top: 30px;
}

#total-price {
    display: flex;
    margin: 15px auto;
}

#total-price-sum {
    margin-left: auto;
}

#order-btn {
    display: flex;
    justify-content: center;
    margin: 55px auto;
}

#complete-order-btn {
    width: 330px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    background: #16DB99;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color:#FFF;
    font-family: Verdana;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 330px;
    height: 420px;
    border-radius: 4px;
    filter: drop-shadow(6px 6px 255px rgba(0, 0, 0, 0.50));
    background: #FFF;
}

#modal-title {
    text-align: center;
    color: #000;
    font-family: Verdana;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    margin: 42px auto;
}

#modal-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

input {
    width: 300px;
    height: 50px;
    padding: 18px;
    border-radius: 4px;
    border: 1px solid #757575;
    color: #757575;
    font-family: Verdana;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

#modal-pay-btn-box {
    display: flex;
    justify-content: center;
}

#pay-btn {
    width: 300px;
    height: 50px;
    border-radius: 4px;
    background: #16DB99;
    margin: 45px auto 0px;
    border: none;
    color: #FFF;
    font-family: Verdana;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

#order-complete-box {
    max-width: 330px;
    height: 80px;
    margin: 50px auto 200px;
    border-radius: 3px;
    background: #ECFDF5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#order-complete-msg {
    margin: 0;
    color: #065F46;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

